<h1><%= @patient.name%></h1>

<%= form_for [@patient] do |f| %>
  <%= f.label :name %>: 
  <%= f.text_field :name, required: true, autofocus: true %>

  <%= f.label :phone %>:
  <%= f.text_field :phone%>

  <%= f.submit%>
<% end %>