<h1>Patients</h1>

<%= link_to "| New Patient |", new_patient_path %>

<table class='hover'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone Number</th>
    </tr>
  </thead>
  <tbody>
    <% @patients.each do |patient| %>
    <tr>
      <td><%= link_to patient.name, patient_path(patient) %></td>
      <td><%= patient.phone %> </td>
      <td><%= link_to "Edit Patient", edit_patient_path(patient) %> | <%= button_to "Delete Patient", [patient], method: :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>