<h1>Doctors</h1>

<%= link_to "| Available Specialities |", specialities_path%>
<%= link_to "Add A Doctor |", new_doctor_path %>

<%-# add a test to check is tenure is bigger than 1 year to change years to year -%>
<table class='hover'>
  <thead>
  <tr>
    <th>Name</th>
    <th>Tenure</th>
    <th>Speciality</th>
  </tr>
  </thead>
  <tbody>
  <% @doctors.each do |doctor| %>
    <tr>
      <td><%= link_to doctor.name, doctor_path(doctor) %></td>
      <td><%= doctor.tenure%> years</td>
      <td><%= doctor.speciality.speciality%> </td>
      <td><%= link_to 'Edit', edit_doctor_path(doctor) %></td>
      <td><%= button_to "Delete Doctor", doctor, method: :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>