<h1><%= @doctor.name %>'s Appointments</h1>

<%= link_to 'Back', doctors_path%>
<table class='hover'>
  <thead>
    <tr>
      <td>Patient</td>
      <td>Date</td>
      <td>Time</td>
      <td>Comment</td>
    </tr>
  </thead>
  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.patient.name %></td>
        <td><%= appointment.time.strftime('%F') %></td>
        <td><%= appointment.time.strftime('%H:%M') %></td>
        <td><%= appointment.comment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment)%></td>
      </tr>
    <% end %> 
  <tbody>
</table>