<h1>New Appointment</h1>

<%= link_to "Cancel", appointments_path%>

<%= form_for @appointment do |f| %>
  <%= f.label :patient %>
  <%= f.collection_select :patient_id, Patient.all.order('id DESC'), :id, :name%>

  <%= f.label :comment %>
  <%= f.text_area :comment %>

  <%= f.label :time %>
  <%= f.datetime_local_field :time %>

  <%= f.collection_select :doctor_id, Doctor.all, :id, :name %>

  <%= f.submit%>
<% end %>