<!DOCTYPE html>
<html>
  <head>
    <title>DoctorsOffice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <h1>Doctors Office</h1>
    <ul>
      <li><%= link_to "Doctors", doctors_path%></li>
      <li><%= link_to "Patients", patients_path%></li>
      <li><%= link_to "Appointments", appointments_path %>
    </ul>
    <%= yield %>
  </body>
</html>
